#loop time (-1 for no loop)
7
# camera position (pX pY pZ)
0 0 0
# camera look-at (pX pY pZ)
0 0 200
# Kinect calib : offset x/y scale x/y
5 56 0.91 0.85
# debug display 
1
# keyboard control
1
# mouse control
0

# meshname
coeur_scene_3008bras.mesh
# type
#  0 : infoviz 
#  1-3 : prosthesis of the corresponding type 
1
# Position (only for infoviz)
0 0 0
# Width height (only for infoviz)
1 1
# time in seconds before appearing after user detection
0.0
# fade in duration
1.0
# How long will it be displayed
5.0
# fade out duration
1.0

# matrial for infoviz
infoviz_1_material
# type
#  0 : infoviz 
#  1-3 : prosthesis of the corresponding type 
0
# Position (only for infoviz)
0 1 0
# Width height (only for infoviz)
1 -0.5
# time in seconds before appearing after user detection
7.0
# fade in duration
1.0
# How long will it be displayed
3.0
# fade out duration
1.0

Coeur_I..mesh
3
0 0 0
1 1
12.0
1.0
5.0
1.0

infoviz_2_material
0
0 1 0
1 -0.5
19.0
1.0
3.0
1.0

coeur_scene_3008Hose001.mesh
2
0 0 0
1 1
22.0
1.0
5.0
1.0

